 <div class="main-content" >
                <div class="widgets-section  pull-right" >
                    <div>
                        <h4>Add New Comics</h4>
                    </div>
                   <br/>

                        <form name="AddComicForm"   novalidate class="form-horizontal" ><!-- ng-init="isFormValid = true" moved to $scope -->
                           
                            <div class="control-group">
                                <label class="control-label" for="optPublisher" >Publisher: <em>*</em></label>
                                <div class="controls">
                                    <select  ng-options="p.publisherName for p in publishers" ng-model="newBookModel.selectedPub" id="optPublisher" name="optPublisher" ng-change="setPublisher(selectedPub)" required >
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="txtTitle" >Title: <em>*</em></label>
                                    <div class="controls">
<!--                                   adding this did not work     |  {filter : -->
                                        <select ng-options="t.title for t in optTitles" name="txtTitle"
                                                ng-model="newBookModel.selectedTitle" ng-change="setTitle(selectedTitle)"
                                                ng-required="true"><!-- ng-change="setTitle(selectedTitle)" -->
                                        </select>
                                    </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label" for="txtIssue" >Issue: <em>*</em></label>
                                <div class="controls">
<!--                                      -->
                                    <input type="number" id="txtIssue" name="txtIssue" ng-model="newBookModel.issue"  required="true" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtQty" >Qty: </label>
                                <div class="controls">
                                    <input type="number" id="txtQty" name="txtQty"  ng-model="newBookModel.qty" placeholder="1"/>
                                </div>
                               
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtPrice" >Price: </label>
                                <div class="controls">
                                    <input type="number" id="txtPrice" name="txtPrice" placeholder="3.99"  ng-model="newBookModel.price" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="optCondition" >Condition:</label>
                                <div class="controls">
                                    <select id="optCondition" ng-model="selectedCondition" ng-change="setCondition(selectedCondition)">
                                        <option value="">--</option>
                                        <option value="Mint">Mint</option>
                                        <option value="Fine">Fine</option>
                                        <option value="Good">Good</option>
                                        <option value="Poor">Poor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtValue" >Value:</label>
                                <div class="controls">
                                    <input type="number" id="txtValue" placeholder="3.99" value="3.99" ng-model="newBookModel.value"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtBoxNum" >Box:</label>
                                <div class="controls">
                                    <input type="text" id="txtBoxNum"  placeholder="Box #" ng-model="newBookModel.box"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtNotes" placeholder="notes">Notes</label>
                                <div class="controls">
                                    <input type="text" id="txtNotes" ng-model="newBookModel.notes" />
                                </div>
                            </div> <div class="control-group">
                                <label class="control-label" for="txtYYYYMM" >Date:</label>
                                <div class="controls">
                                     <input type="month" id="txtYYYYMM" name="txtYYYYMM" ng-model="newBookModel.yyyymm" />
                                </div>
                            </div>
                            <div class="add-comic-section">
                                
                                <button type="button"  class="btn btn-primary" ng-click="BtnNewAddComics(newBookModel)"
                                        ng-disabled="!(AddComicForm.optPublisher.$dirty && AddComicForm.txtTitle.$dirty && (AddComicForm.txtIssue.$dirty && AddComicForm.txtIssue.$valid))" >Add</button>
                                <button type="button" class="btn btn-primary" ng-click="reset()" >Reset</button>

                            </div>
                        </form> <!-- end form -->
                    </div><!-- floatright -->

                   <div ng-include="'partials/widgets.html'"  class="widgets-section span8"></div>
                    
                    <div class="chart-container span8">
                    <!--     <chart ng-model='chartdata' class="pull-left"> </chart>-->
                    </div>
                 
                 <!-- <div class="widgets-section span8 " >
                     <div class="gridStyle" ng-grid="newComicsGrid"> </div>
                  </div>-->
<!--                     <table class="table "  ng-show="hasDetailedListing">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th style="width:10px;">Issue</th>
                                    <th style="width:40px"></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat = "item in newComicList" ng-model="newComicList">
                                <tr>
                                    <td class="titles">{{ item.title }}</td>
                                    <td class="issues">{{ item.issue }}</td>
                                    <td>
                                        <button class="btn" ng-click="RemoveComicItem($index);"><i class="icon-remove"></i></button>
                                    </td>
                                </tr>
                          </tbody>
                        </table>-->
                    <div style="clear:both" >  </div>

       </div><!-- end main-content -->        
          