<div data-ng-controller="summaryController">
<!--<input type="text" ng-model="PublishersList[2].value"/>-->
   <div class="row">
    <div class="col-md-6">
        <h4>Collection</h4>
        <table class="table">
            <tr ng-repeat="p in PublishersList">
                <td class="titles">{{ p.publisherName }}</td>
                <td add-pub p="{{p.value}}" ng-model="p">{{ p.value}}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{publisherValTotal}}</td>
            </tr>
        </table>

    </div>
    <div class="col-md-6">
        <h4>Most Collected</h4>
        <table class="table">
            <tr ng-repeat="t in TitlesList | filter | limitTo:limitNumber | orderBy:predicate:reverse">
                <td class="titles">{{ t.title }}</td>
                <td >{{ t.totalIssues }}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{ totalIssues }}</td>
            </tr>

        </table>
    </div>

   </div>

</div>