<div data-ng-controller="summaryController">
   <div class="row">
    <div class="col-md-4">
        <h4>Collection</h4>
        <table>
            <tr>
                <td class="titles">Marvel</td><td marvel-collection value-per-publisher="getValuePerPublisher('Marvel')"></td>
            </tr>
            <tr>
                <td class="titles">DC</td><td>$100</td>
            </tr>
            <tr>
                <td class="titles">Image</td><td>$50</td>
            </tr>
            <tr>
                <td></td><td>$350</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h4>Most Collected</h4>
        <table>
            <tr>
                <td class="titles">Amazing Spider-man</td><td>100</td>
            </tr>
            <tr>
                <td class="titles">Batman</td><td>25</td>
            </tr>
            <tr>
                <td class="titles">Teen Titans</td><td>15</td>
            </tr>

        </table>
    </div>
    <div class="col-md-4">
        <h4>Most Valuable</h4>
        <table>
            <tr>
                <td>#252</td><td class="titles">Amazing Spider-man</td><td>$22</td>
            </tr>
            <tr>
                <td>#1</td><td class="titles">Batman</td><td>$5</td>
            </tr>
            <tr>
                <td>#1</td><td class="titles">A-team</td><td>$4</td>
            </tr>

        </table>
    </div>
   </div>
    <!-- end widgets section -->
    <table class="table "  ng-show="hasDetailedListing">
        <thead>
        <tr>
            <th>Title</th>
            <th style="width:10px;">Issue</th>
            <th style="width:40px"></th>
        </tr>
        </thead>
        <tbody ng-repeat = "item in newComicList" ng-model="newComicList">
        <tr>
            <td class="titles">{{ item.title }}</td>
            <td class="issues">{{ item.issue }}</td>
            <td>
                <button class="btn" ng-click="RemoveComicItem($index);"><i class="icon-remove"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="clear:both" >  </div>
</div>