<div data-ng-controller="sideNavController">
    <div class="panel panel-default"  ng-repeat="p in PublishersList" >
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{p.publisherId}}">
                    {{ p.publisherName }}
                </a>
            </h4>
        </div>
        <div id="collapse{{p.publisherId}}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="unstyled" >
                    <li ng-repeat="t in TitlesList | filter: {publisherId : p.publisherId }">
                        <a href="#/titleid/{{ t.id }}/publisherid/{{ p.publisherId }}">{{ t.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
