
    <div class="widgets-section  pull-left">
        <h4>Collection</h4>
        <table>
            <tr>
                <td class="titles">Marvel</td><td>$200</td>
            </tr>
            <tr>
                <td class="titles">DC</td><td>$100</td>
            </tr>
            <tr>
                <td class="titles">Image</td><td>$50</td>
            </tr>
            <tr>
                <td></td><td>$350</td>
            </tr>
        </table>
    </div>
    <div class="widgets-section pull-left">
        <h4>Most Collected</h4>
        <table>
            <tr>
                <td class="titles">Amazing Spider-man</td><td>100</td>
            </tr>
            <tr>
                <td class="titles">Batman</td><td>25</td>
            </tr>
            <tr>
                <td class="titles">Teen Titans</td><td>15</td>
            </tr>

        </table>
    </div>
    <div class="widgets-section pull-left">
        <h4>Most Valuable</h4>
        <table>
            <tr>
                <td>#252</td><td class="titles">Amazing Spider-man</td><td>$22</td>
            </tr>
            <tr>
                <td>#1</td><td class="titles">Batman</td><td>$5</td>
            </tr>
            <tr>
                <td>#1</td><td class="titles">A-team</td><td>$4</td>
            </tr>

        </table>
    </div>
<!-- end widgets section -->